*{
    box-sizing: border-box;
}
body{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: auto 0;
    padding: 0;
}

header{
    height: 250px;
    background:linear-gradient(to bottom, rgb(0 0 0 / .8),rgb(0 0 0 / .5)),url("../images/iguana-verde-bebe.jpg")center center / cover;

    filter:brightness(0.1);
    filter: grayscale(1);
    
    

}
.text-main{
    color: #f09716;
}


/* MENU */

#menu{
    
  /*   margin-top: -1px; */
    text-transform: uppercase;
    background-color: rgb(33, 33, 33);
    min-height: 50px;


}
nav{
    position: relative;
    z-index: 1;
}
 
#menu ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    list-style:none;
   
    margin-top: 0px;
    padding: 10px 0;
    margin-bottom: 0px;
    
}
#menu li:not(:last-of-type){
    
    margin-right: 3em;
}

#menu li{
    margin-top: 5px;
}


#menu li a{
    text-decoration: none;
    color: #afafaf;
    font-weight: 800;
    font-size: 20px;
}
#menu li a:hover{
    color:#f09716;
    cursor: pointer;
}


footer.pie{
    background-color: rgb(33, 33, 33);
    padding: 1em;
    text-align: center;
    color: #ffffff;
    height: 130px;
}

footer a{
    text-decoration: none;
    color: #73c5b8;
}
footer a:hover{
    
    color: #f09716;
}


.anchoMaximo{
    max-width:1200px;
    margin: 0 auto;
}

.flex{
    display: flex;
   
}

.flex-row{
    flex-direction: row;
}

.flex-column{
    flex-direction: column;
}
.flex33{
    
    flex-basis: 32%;
}
.flex66{
    
    flex-basis:66%
}

.flex50{
    flex-basis: 50%;
}

.img-width{
    width: 50%;
    margin-top: 50px;
    margin-bottom: 50px;
}

.imagen-main{

    margin-top: 250px;
    width: 150%;
}



/* prueba de texto sobre imagen */

.wrap{
    width: 100vw;
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, rgb(0 0 0 / .4),rgb(0 0 0 / .8)),
    url("../images/iguana-colorida.jpg") bottom fixed;
    background-size: 150%;
    background-position: center;
    
    }
    .wrap p{
        color: aliceblue;
        text-shadow: #272727 1px 1px;
        font-size: 1.2em;
        
    }

    .wrap-texto{
        color: #fff;
        
        
        }

        .cuadro-texto{
            background-color: rgba(0, 0, 0, 0.5);
            padding: 15px;
            border-radius: 5px;
        }

        .wrap-texto h1{
            display: inline-flex;
            justify-content: center;
            align-items: center;
            font-size: 4em;
            letter-spacing: 15px;
            margin-bottom: 0;
            color: #5cd0ee;
            text-shadow: #000000 1px 1px;
            
        }

        .turqueza{
            color: #5cd0ee;;
        }

        .wrap-texto h2{
            font-size: 2em;
            color: #f09716;
            text-shadow: #272727 2px 2px;
        }

        .pmargin{
            margin-right: 15px;
        }

        .text-center{
            text-align: center;
        }

        .margin-bottom-text{
            margin-bottom: 200px;
        }
        .margin-top{

            margin-top: 100px;
            
        }